body {
	background-color: #F5F5F5;
	display: flex;
	align-items: center;
	justify-content: center;
}
#login form {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	padding: 20px;
}
#login label {
	display: block;
	margin-bottom: 10px;
}
#login input {
	margin-bottom: 15px;
	width: 250px;
}
