#booking table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    width: 100%;
}

th, td {
    padding: 10px;
}

th:nth-child(1), td:nth-child(1) {
    text-align: center;
    width: 65px;
}
th:nth-child(2), td:nth-child(2) {
    text-align: left;
    width: 150px;
}
th:nth-child(3), td:nth-child(3) {
    text-align: left;
    width: 190px;
}
th:nth-child(4), td:nth-child(4) {
    text-align: left;
}