@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';

* { box-sizing: border-box; }
body {
	color: #333333;
	font: 13px 'Open Sans', sans-serif;
	margin: 0;
	min-width: 1020px;
}

a {
	color: #4078C0;
	text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
form { margin: 0; }
label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}
input {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: #666666;
	font: inherit;
	height: 28px;
	margin-bottom: 15px;
	outline: none;
	padding: 0 8px;
	width: 250px;
}
input[type=submit] { cursor: pointer; }
button {
	background: none;
	border: none;
	cursor: pointer;
	font: inherit;
	outline: none;
	padding: 0;
}
table {
	border-spacing: 0;
	font-size: inherit;
}

.container {
	margin: 0 auto;
	width: 1000px;
}
.clearfix {
	clear: both;
	content: "";
	display: table;
}
.content { padding-top: 20px; }
.columns { margin: 0 -10px; }
.column {
	float: left;
	padding: 0 10px;
}
.one-fourth { width: 25%; }
.three-fourths { width: 75%; }
.boxed {
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	color: #666666;
	margin-bottom: 30px;
}
.boxed > h3, th {
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
	color: #333333;
	font-size: inherit;
	font-weight: bold;
	margin: 0;
	padding: 8px 10px;
}
.boxed > a {
   display: block;
   padding: 8px 10px;
   border-bottom: 1px solid #DDDDDD;
}
.boxed > a:hover { background-color: #F5F5F5; }
.boxed > a.active {
	color: inherit;
	cursor: default;
	font-weight: bold;
}
.boxed > a.active:hover { background: none; }
.boxed > a:last-child { border-bottom: none; }
.boxed > div { padding: 15px; }

/* Header */
header {
   background-color: #F5F5F5;
	border-bottom: 1px solid #E5E5E5;
	padding: 10px 0;
}
header section,
header section ul,
header section ul li {
	float: left;
}
header section ul li a {
	color: inherit;
	font-weight: bold;
}
header section ul li > * {
	display: block;
	padding: 4px 8px;
}
#icon, #search {
	margin-right: 10px;
}
#search input {
	margin-bottom: 0;
	width: 350px;
}
#user-links {
   float: right;
	font-size: 20px;
}
#user-links .fa-sign-out {
   color: #F44336;
}

/* Login */
#login-page {
	background-color: #F5F5F5;
	display: flex;
	align-items: center;
	justify-content: center;
}
#login-page header { display: none; }
#login-page .container { width: auto; }
#login-page form {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	padding: 20px;
}
#login-page form input[type=submit] {
	background-color: #4078C0;
	border: none;
	color: white;
	font-weight: bold;
	margin-top: 5px;
}

/* Booking */
#inmates-page table {
	border: 1px solid #DDDDDD;
	border-radius: 2px;
   width: 100%;
}
#inmates-page th:first-child,
#inmates-page td:first-child {
	padding-left: 10px;
}
#inmates-page th {
	padding: 8px 4px;
	text-align: left;
}
#inmates-page td {
	border-bottom: 1px solid #EEEEEE;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	padding: 6px 4px;
}
#inmates-page tr:last-child td { border-bottom: none; }
#inmates-page tr:hover td { background: #F5F5F5; }
#inmates-page td.id { width: 65px; }
#inmates-page td.name { width: 200px; }
#inmates-page td.offense { color: #888888; }
#inmates-page .inmate input { margin-right: 10px; }
#inmates-page .inmate .offenses {
	list-style: disc;
	margin-left: 25px;
}
#inmates-page .inmate .offenses li { padding: 5px 0; }
#inmates-page .inmate .offenses li span.offense {
	float: left;
	width: 350px;
}

/* Settings */
#settings-page #manageusers ul li {
	border-bottom: 1px solid #DDDDDD;
	font-size: 12px;
}
#settings-page #manageusers ul li:last-child {
	border-bottom: none;
}
#settings-page #manageusers ul li b {
	display: block;
	font-size: 14px;
}
#settings-page #manageusers button {
	float: right;
}
#settings-page #manageusers button img {
	height: 16px;
	margin: 10px;
	width: 12px;
}
