@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';

* { box-sizing: border-box; }
body {
	color: #333333;
	font: 13px 'Open Sans', sans-serif;
	margin: 0;
	min-width: 1020px;
}
a {
	color: #4078C0;
	text-decoration: none;
}
form { margin: 0; }
label {
	display: block;
	font-weight: bold;
	margin: 10px 0 5px;
}
label:first-child { margin-top: 0; }
ul { padding: 0; }
input, select {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: #666666;
	font: inherit;
	margin: 0;
	outline: none;
	padding: 4px 8px;
}
button, input[type=submit] {
	border: 1px solid #D5D5D5;
	border-radius: 3px;
	box-shadow: none;
	background: linear-gradient(#FCFCFC, #EEEEEE);
	cursor: pointer;
	font-weight: bold;
	margin-top: 15px;
	padding: 6px 12px;
}
table {
	border-spacing: 0;
	font-size: inherit;
}
th { text-align: left; }

.container {
	margin: 0 auto;
	width: 1000px;
}
.clearfix {
	clear: both;
	content: "";
	display: table;
}
.columns {
	margin: 0 -10px;
	width: 100%;
}
.column {
	float: left;
	padding: 0 10px;
}
.one-fourth { width: 25%; }
.three-fourths { width: 75%; }
.boxed {
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	margin-bottom: 30px;
}
.boxed > h3, th {
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
	font-size: inherit;
	font-weight: bold;
	margin: 0;
	padding: 8px 10px;
}
.boxed > div {
	color: #666666;
	padding: 15px;
}
.boxed > a {
   display: block;
   padding: 8px 10px;
   border-bottom: 1px solid #DDDDDD;
}
.boxed > a:hover { background-color: #F5F5F5; }
.boxed > a.active {
	color: #666666;
	font-weight: bold;
}
.boxed > a.active:hover { background: none; }
.boxed > a:last-child { border-bottom: none; }
.fa { font-size: 18px; }
.submit { cursor: pointer; }

/* Header */
header {
	background-color: #F5F5F5;
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 20px;
	padding: 10px 0;
}
header section,
header section ul,
header section ul li {
	float: left;
}
header section { margin-right: 10px; }
header section:last-child { margin-right: 0; }
header section ul {
	list-style: none;
	margin: 0;
}
header section li > * {
	display: block;
	padding: 5px 8px;
}
header section li > a {
	color: inherit;
	font-weight: bold;
}
header section#search input { width: 200px; }
header section#user-links { float: right; }
header section#user-links .fa-sign-out { color: #F44336; }

/* Login */
#login-page {
	background-color: #F5F5F5;
	display: flex;
	align-items: center;
	justify-content: center;
}
#login-page form {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	padding: 20px;
	width: 250px;
}
#login-page form input { width: 100%; }
#login-page form input[type=submit] {
	background: #4078C0;
	border: none;
	color: white;
}

/* Inmates */
#inmates-page table {
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	width: 100%;
}
#inmates-page th:first-child,
#inmates-page td:first-child {
	padding-left: 10px;
}
#inmates-page td {
	border-bottom: 1px solid #EEEEEE;
	padding: 6px 10px;
}
#inmates-page tr:last-child td { border-bottom: none; }
#inmates-page tr:hover td { background: #F5F5F5; }
#inmates-page td.id { width: 65px; }
#inmates-page td.name { width: 200px; }
#inmates-page td.offense { color: #888888; }

/* Inmate *Needs reformatting* */
#inmate-page .boxed input,
#inmate-page select {
	margin-left: 5px;
	margin-right: 10px;
	width: 150px;
}
#inmate-page input[type=submit] { width: auto; }
#inmate-page form > span {
	display: inline-block;
	text-align: right;
	width: 125px;
}
#inmate-page .offenses,
#inmate-page .property {
	margin-left: 25px;
}
#inmate-page .offenses li { padding: 5px 0; }
#inmate-page .offenses [name=charge],
#inmate-page .property [name=description] {
	 width: 300px;
 }

/* Settings */
#settings-page #manageusers ul {
	list-style: none;
	margin: 0;
}
#settings-page #manageusers ul li {
	border-bottom: 1px solid #DDDDDD;
	padding: 5px;
}
#settings-page #manageusers ul li:last-child { border-bottom: none; }
#settings-page #manageusers ul li b {
	display: block;
	font-size: 14px;
}
#settings-page #manageusers ul li i {
	float: right;
	padding: 10px 5px;
}
